<!DOCTYPE html>
<html lang="zh-Hant">
<head>
<meta charset="UTF-8">
<title>L4 image-lead 視覺主導頁</title>
<link rel="stylesheet" href="assets/tokens.css">
<link rel="stylesheet" href="../../themes/themes.css">
<link rel="stylesheet" href="assets/base.css">
</head>
<body>
<div class="page center">
  <div class="illust-slot" style="width: 100%; flex: 1;">
    插畫位（主角）：巨大的打勾清單，<br>
    一個小人站在清單頂端張望，<br>
    遠方有一顆發光的星星
  </div>


  <div class="h2" style="line-height: 1.6;">
    清單全部打勾了，<br>
    <span class="hl">想要的生活</span>卻不在清單上。
  </div>


  <div class="footer">IG @uncle.johs</div>
</div>
</body>
</html>
